@using Wellness.Model
@using System.Globalization
@inherits Components.UserParticipation.Events.Add.NewEventComponent

<div style="width: 50%; background-color: var(--theme-palette-background-paper);">
    <div>
        <MatAutocompleteList FullWidth="true" Items="@Events" TItem="Event" Label="Select Event" CustomStringSelector="@(i => i.Name)" @bind-Value="ViewModel.SelectedEvent">
            <ItemTemplate>
                <div>
                    <span>@context.Name</span>
                </div>
            </ItemTemplate>
        </MatAutocompleteList>
    </div>
    <div>
        <MatFileUpload OnChange="@FilesReady"></MatFileUpload>
    </div>
    <div>
        <MatDatePicker FullWidth="true" Label="Event Date" TValue="DateTime" @bind-Value="ViewModel.SelectedEventDate"></MatDatePicker>
    </div>
    <div class="text-right p-2" >
        <MatButton Raised="true" @onclick="@(async e => await OnSaveSelected.InvokeAsync(null))">Save</MatButton>
    </div>
</div>

