@using Wellness.Model
@using System.Globalization
@using Wellness.Client.Components.UserParticipation.Activities.Add
@inject AppState State

@inherits Components.UserParticipation.Activities.List.UserActivitiesComponent

<MatTabGroup>
    <MatTab Label="Activities">

        <MatTable Items="@ActivityParticipations" class="mat-elevation-z5" ShowPaging="false" ShowFooter="false">
            <MatTableHeader>
                <th></th>
                <th>Activity</th>
                <th>Minutes</th>
                <th>Points</th>
                <th>Date</th>
            </MatTableHeader>
            <MatTableRow>
                <td>
                    <MatIconButton Icon="delete" OnClick="@((args) => DeleteActivity(args, context.Id))" @ref="activityItemButton"></MatIconButton>

                </td>
                <td>@context.ActivityName</td>
                <td>@context.Minutes</td>
                <td>@context.Points</td>
                <td>@context.ParticipationDate.ToString("MM/dd/yyyy")</td>
            </MatTableRow>
        </MatTable>
    </MatTab>
    <MatTab Label="New">
        <NewActivity />
    </MatTab>

</MatTabGroup>


<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Delete Confirmation</MatDialogTitle>
    <MatDialogContent>
        <p>Are you sure you want to delete this Activity?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">Cancel</MatButton>
        <MatButton OnClick="@OkClick">OK</MatButton>
    </MatDialogActions>
</MatDialog>
