@page "/ActivityManagement"


@inject Microsoft.Extensions.Localization.IStringLocalizer<Wellness.Client.Properties.Resources> Loc
@inherits Wellness.Client.Pages.ActivityManagementComponent

<h2>@Loc["ActivityManagement"]</h2>

<div class="float-right">
    <MatIconButton Icon="add" @onclick="ViewModel.New"></MatIconButton>
</div>
<MatTable Items="@ViewModel.Activities" class="wellness-table" PageSize="30" ShowPaging="false" ShowFooter="false">
    <MatTableHeader>
        <th></th>
        <th>@Loc["Name"]</th>
        <th>@Loc["Active"]</th>
        <th>@Loc["CreatedOn"]</th>
        <th>@Loc["CreatedBy"]</th>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatIconButton Icon="delete" @onclick="(e => ViewModel.Delete(context.Model.Id))"></MatIconButton>
            <MatIconButton Icon="edit" @onclick="(e => ViewModel.Edit(context.Model.Id))"></MatIconButton>
        </td>
        <td>@context.Model.Name</td>
        <td>@context.Model.Active</td>
        <td>@context.Common.CreatedOn.ToString("yyyy-MM-dd")</td>
        <td>@context.Common.CreatedBy</td>
    </MatTableRow>
</MatTable>
@if (ViewModel.Debug)
{
<div class="float-right">
    <MatIconButton Icon="import_export" @onclick="ViewModel.Load"></MatIconButton>
</div>
}
<MatDialog @bind-IsOpen="ViewModel.EditModalOpen">
    <MatDialogTitle>
        @Loc["Activity"]
    </MatDialogTitle>
    <MatDialogContent>
        <MatTextField @bind-Value="ViewModel.ActivityName" Label="@Loc["Name"]"></MatTextField>
        <MatCheckbox @bind-Value="ViewModel.Active" Label="@Loc["Active"]"></MatCheckbox>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { ViewModel.EditModalOpen = false; })">
            @Loc["Cancel"]
        </MatButton>
        <MatButton OnClick="@ViewModel.Save">
            @Loc["OK"]
        </MatButton>
    </MatDialogActions>
</MatDialog>