@page "/EventManagement"

@using Wellness.Model.ModelValidation
@inject HttpClient Http
@inherits Wellness.Client.Pages.EventManagementComponent

<h2>Event Management</h2>

<div class="float-right">
    <MatIconButton Icon="add" @onclick="ViewModel.New"></MatIconButton>
</div>
<MatTable Items="@ViewModel.Events" class="wellness-table" PageSize="30" ShowPaging="false" ShowFooter="false">
    <MatTableHeader>
        <th></th>
        <th>Name</th>
        <th>Active</th>
        <th>Created On</th>
        <th>Created By</th>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatIconButton Icon="delete" @onclick="(e => ViewModel.Delete(context.Id))"></MatIconButton>
            <MatIconButton Icon="edit" @onclick="(e => ViewModel.Edit(context.Id))"></MatIconButton>
        </td>
        <td>@context.Name</td>
        <td>@context.Active</td>
        <td>@context.Common.CreatedOn.ToString("yyyy-MM-dd")</td>
        <td>@context.Common.CreatedBy</td>
    </MatTableRow>
</MatTable>


<EditForm Model="@ViewModel.NewOrEditEvent" OnValidSubmit="@ViewModel.Save">
    <FluentValidator></FluentValidator>
    <ValidationSummary />
    <MatDialog @bind-IsOpen="ViewModel.EditModalOpen">
        <MatDialogTitle>Event</MatDialogTitle>
        <MatDialogContent>
            <MatTextField @bind-Value="ViewModel.NewOrEditEvent.Name" Label="Name"></MatTextField>
            <ValidationMessage For="() => ViewModel.NewOrEditEvent.Name"></ValidationMessage>

            <MatTextField @bind-Value="ViewModel.NewOrEditEvent.Points" Label="Points Per Event"></MatTextField>
            <MatTextField @bind-Value="ViewModel.NewOrEditEvent.AnnualMaximum " Label="Annual Max"></MatTextField>
            <MatCheckbox @bind-Value="ViewModel.NewOrEditEvent.Active" Label="Active"></MatCheckbox>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Type="button" OnClick="@(e => { ViewModel.EditModalOpen = false; })">Cancel</MatButton>
            <MatButton Type="submit">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
</EditForm>