@page "/"
@page  "/{SelectedUserId:guid}"

@inject HttpClient Http
@using Wellness.Client.Components.MonthsMenu
@using Wellness.Client.Components.UserParticipation.Activities.List
@using Wellness.Client.Components.UserParticipation.Activities.Add
@using Wellness.Client.Components.UserParticipation.Events.List
@using Wellness.Client.Components.UserParticipation.Events.Add
@using Wellness.Client.Components.Shared
@inject Microsoft.Extensions.Localization.IStringLocalizer<Wellness.Client.Pages.Labels> Loc
@inherits Wellness.Client.Pages.IndexComponent


@if (ViewModel.ActivityParticipations == null)
{
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
}
else
{

    <div class="mat-elevation-z2">

        <MonthsMenu OnMonthChanged="ViewModel.MonthChanged" />
        <div class="content">

            <WellnessMatTabGroup DefaultIndex="1" @bind-ActiveIndex="@ViewModel.ActivityTabIndex">
                <MatTab Label="@Loc["New"]">
                    <NewActivity ViewModel="@ViewModel"
                                 OnActivitySubmissionCompleted="@((e) => { ViewModel.ActivityTabIndex = 1; })" />
                </MatTab>
                <MatTab Label="@Loc["Activities"]">
                    <UserActivities ActivityParticipations="@ViewModel.ActivityParticipations" OnConfirmDelete="@ViewModel.ActivityParticipationDeleted" />
                </MatTab>
            </WellnessMatTabGroup>
        </div>

        <div class="content">
            <WellnessMatTabGroup DefaultIndex="1" @bind-ActiveIndex="@ViewModel.EventTabIndex">
                <MatTab Label="@Loc["New"]">
                    <NewEvent ViewModel="@ViewModel"
                              OnFileAttached="@ViewModel.EventFileAttached"
                              OnEventSubmissionCompleted="@((e) => { ViewModel.EventTabIndex = 1; })" />
                </MatTab>
                <MatTab Label="@Loc["Events"]">
                    <UserEvents ViewModel="@ViewModel" EventParticipations="@ViewModel.EventParticipations" OnConfirmDelete="@ViewModel.EventParticipationDeleted" />
                </MatTab>
            </WellnessMatTabGroup>

        </div>
    </div>



}