@using Wellness.Model
@using System.Globalization
@using Wellness.Client.Components.MonthsMenu
@inherits Wellness.Client.Components.MonthsMenu.MonthsMenuComponent



    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
                <MatList SingleSelection="true" Class="list-group list-group-horizontal-md">
                    <MatListItem Class="month-menu-item" OnClick="@Previous">Previous</MatListItem>

                    @foreach (var month in Months)
                    {
                        <MatListItem Class="month-menu-item" OnClick="@((args) => MonthChanged(args, month.RelativeIndex))">@month.Name, @month.Year.ToString().Substring(2)</MatListItem>
                    }

                    <MatListItem Class="month-menu-item" OnClick="@Next">Next</MatListItem>
                </MatList>
                <hr />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
            </div>
        </div>
    </div>
