@inherits MainLayoutComponent
@using Wellness.Model
@using Wellness.Client.Components.Shared

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatNavItem Href="/"><MatAppBarTitle>Corporate Wellness Manager</MatAppBarTitle></MatNavItem>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="settings" @onclick="(async e => await Menu.OpenAsync(MenuButton.Ref))" @ref="MenuButton"></MatIconButton>
                <MatMenu @ref="Menu">
                    <MatList>
                        <MatListItem Href="/ActivityManagement">Manage Activities</MatListItem>
                        <MatListItem Href="/EventManagement">Manage Events</MatListItem>
                        <MatListItem Href="/FrequentlyAskedQuestionManagement">Manage FAQs</MatListItem>
                    </MatList>
                </MatMenu>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
</MatAppBarContainer>


<div class="mat-layout-grid main">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Totals
                        </MatHeadline6>
                    </div>
                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        <b>Name</b><br />
                        @ViewModel.CurrentUser.FirstName @ViewModel.CurrentUser.LastName<br />
                        <b>Annual Total</b><br />
                        @ViewModel.CurrentUser.AnnualTotal<br />
                        <b>Points Per Month (Average)</b><br />
                        @ViewModel.CurrentUser.AveragePointsPerMonth
                    </MatBody2>
                </MatCardContent>
            </MatCard>

            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Search
                        </MatHeadline6>
                    </div>
                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        Visit ten places on our planet that are undergoing the biggest changes today.
                    </MatBody2>
                </MatCardContent>
            </MatCard>

        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9">
            @Body
        </div>
    </div>
</div>

