@inherits SiteLayoutComponent
@inject Microsoft.Extensions.Localization.IStringLocalizer<Wellness.Client.Properties.Resources> Loc
@using Wellness.Model
@using Wellness.Client.Components.Shared

<MatAppBarContainer>
    <MatAppBar>
        <MatAppBarRow>
            <MatAppBarSection>
                <MatNavItem Href="/"><MatAppBarTitle>@Loc["Title"]</MatAppBarTitle></MatNavItem>
                <MatNavItem Href="/">@Loc["Products"]</MatNavItem>
                <MatNavItem Href="/">@Loc["Solutions"]</MatNavItem>
                <MatNavItem Href="/">@Loc["AboutUs"]</MatNavItem>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
 
                <MatListItem Href="/ProfileInfo">@Loc["SignIn"]</MatListItem>

            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
</MatAppBarContainer>
<div class="container site">

            @Body


</div>

