@using Wellness.Model
@using System.Globalization
@inject AppState  State

<Paper Square>
    <Tabs Value="@Value"
          IndicatorColor="@Color.Primary"
          TextColor="@Color.Primary"
          OnChange="@HandleChange"
          aria-label="disabled tabs example">
        <Tab Label="Active" Value="0" />

        <Tab Label="Add" Value="1" />
    </Tabs>
    <TabPanel Value="@Value"
              Index="0">
        <Table Style="min-width: 700px"
               aria-label="simple table">
            <TableHead>
                <TableRow>
                    <TableCell>

                    </TableCell>
                    <TableCell Align="@Align.Left">
                        Activity
                    </TableCell>
                    <TableCell Align="@Align.Left">
                        Minutes
                    </TableCell>
                    <TableCell Align="@Align.Left">
                        Points
                    </TableCell>
                    <TableCell Align="@Align.Left">
                        Date
                    </TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var context in ActivityParticipations)
                {
                    <TableRow @key="@context.Id">
                        <TableCell Align="@Align.Left">

                        </TableCell>
                        <TableCell Align="@Align.Left">
                            @context.Activity.Name
                        </TableCell>
                        <TableCell Align="@Align.Left">
                            @context.Minutes.OptionValue
                        </TableCell>
                        <TableCell Align="@Align.Left">
                            @context.Points
                        </TableCell>
                        <TableCell Align="@Align.Left">
                            @context.Date.ToString("MM/dd/yyyy")
                        </TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </TabPanel>
    <TabPanel Value="@Value"
              Index="1">
        <NewActivity />
    </TabPanel>
</Paper>

@code {



    [Parameter]
    public List<ActivityParticipation> ActivityParticipations { get; set; }


    private string SelectedValue => SelectedId == default ? default : State.Activities.First(i => i.Id == SelectedId).Name;
    private IReference AnchorRef { set; get; } = new Reference();

    private Guid SelectedId { set; get; } = default;


    private void UpdateSelectedIndex(Guid id)
    {
        SelectedId = id;

        Open = false;

        StateHasChanged();
    }

    private void HandleClose(EventArgs args)
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleClose(MenuCloseReason reason)
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleClickListItem()
    {
        Open = true;

        StateHasChanged();
    }

    private void UpdateSelected(string id)
    {

    }

    bool Open = false;
    private object Value { set; get; } = 0;

    private void HandleChange(object value)
    {
        Value = value;

        StateHasChanged();
    }

}
