@using Wellness.Model
@using System.Globalization
@inject AppState  State


<MatTabGroup>
    <MatTab Label="Activities">

        <MatTable Items="@ActivityParticipations" class="mat-elevation-z5" ShowPaging="false" ShowFooter="false">
            <MatTableHeader>
                <th></th>
                <th>Activity</th>
                <th>Minutes</th>
                <th>Points</th>
                <th>Date</th>
            </MatTableHeader>
            <MatTableRow>
                <td></td>
                <td>@context.Activity.Name</td>
                <td>@context.Minutes.OptionValue</td>
                <td>@context.Points</td>
                <td>@context.Date.ToString("MM/dd/yyyy")</td>
            </MatTableRow>            
        </MatTable>
    </MatTab>
    <MatTab Label="New">
        <NewActivity />
    </MatTab>

</MatTabGroup>

@code {



    [Parameter]
    public List<ActivityParticipation> ActivityParticipations { get; set; }


    private string SelectedValue => SelectedId == default ? default : State.Activities.First(i => i.Id == SelectedId).Name;

    private Guid SelectedId { set; get; } = default;


    private void UpdateSelectedIndex(Guid id)
    {
        SelectedId = id;

        Open = false;

        StateHasChanged();
    }

    private void HandleClose(EventArgs args)
    {
        Open = false;

        StateHasChanged();
    }

    private void HandleClickListItem()
    {
        Open = true;

        StateHasChanged();
    }

    private void UpdateSelected(string id)
    {

    }

    bool Open = false;
    private object Value { set; get; } = 0;

    private void HandleChange(object value)
    {
        Value = value;

        StateHasChanged();
    }

}
